* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.125rem;
}

.fa-facebook-official {
	color: #3b5998;

}

.fa-linkedin {
	color: #007bb6;
}

.fa-instagram {
	color: #bb298f;
}

.fa-github {
	color: #c9510c;
}


.fa-envelope-o {
	color: black;
}

#social_links {
	background: rgba(255, 255, 255, 0.05);
}


#portfolio_slider {
	min-height: 100vh;
	background-image: url(./images/texture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

#section_home {
	background-image: url(./images/profile-pic.png);
	background-repeat: no-repeat;
	background-position: right 30% bottom 0;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 5em;	
}

.projects {
	color: white;
	font-weight: bold;
	border-radius: 20px;
	border-color: transparent;
	font-size: 2rem;
	color: black;
	padding: 0.75rem;
	width: 200px;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0;
}

#section_aboutme {
	background-image: url(./images/profile-pic.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 5em;
}

#section_skills {
	background-image: url(./images/profile-pic.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 5em;
}

#section_work {
	background-image: url(./images/profile-pic.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 5em;
}

#section_contacts {
	background-image: url(./images/profile-pic.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	min-height: 100vh;
	padding-bottom: 5em;
}

h1 {
	font-family: 'Courgette', cursive;
	font-size: 3rem;
	text-decoration: underline;
	text-align: center;
	letter-spacing: -0.25rem;
}

h4 {
	text-align: center;
	margin-top: 2rem;
}

h2 {
	font-size: 3rem;
	text-align: center;
}



.trans_bg {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.50);
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);	
}

/*made my own color bg gradient using https://cssgradient.io/*/
.sticky_bg {
	background-color: #fff;
	background-image: linear-gradient(#f3dc50, #f8e577, #ffff88, #ffff88, #ffff88, #ffff88);
	border: none !important;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.50);
	color: #000 !important;
	position: relative;
}

.sticky_bg:nth-child(1) {
	transform: rotate(1.5deg);
}	
.sticky_bg:nth-child(2) {
	transform: rotate(-0.5deg);
}

/*added red pin on the sticky notes using psuedo element*/
.sticky_bg::before {
	content: "";
	background: #ff0000;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	position: absolute;
	top: 5px;
	left: 5px;
	box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
	background: rgba(99, 82, 71, 0.8);
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	position: fixed;
	bottom:  0;
}

.carousel-item-right, .carousel-item-left {
	filter: blur(0.5rem);
}

.carousel-indicators li {
	    text-indent: 0px;
	    width: 100px;
	    height: 70px;
	    text-align: center;
	    background-color: transparent;
}

.carousel-indicators li:hover {
	opacity: 1;
  	text-shadow: 0 0 15px rgba(255,215,0,0.75);	
}

#section_projects li:hover img {
  	box-shadow: 0 0 15px rgba(255,215,0,0.75);	
}

.carousel-indicators .fa {
	font-size: 4rem;
	color: white;
}

.carousel-indicators .fa:hover {
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#social_links a:hover {
	animation-name: pulse;
  	animation-duration: 1s;
  	animation-iteration-count: 1;	
}


.carousel-control-prev-icon {
	padding: 20px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='4' height='4' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");	
}


.carousel-control-next-icon {
	padding:  20px;
	background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-item ul {
	list-style: none;
}

.modal-title {
	font-family: 'Courgette', cursive;
	text-align: center;
}


/*CSS.Animation*/
#portfolio_slider {
	animation-name: animatedBackground;
  	animation-duration: 10s;
  	animation-iteration-count: infinite;	  	
}


/*moving bg texture*/
@keyframes animatedBackground {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#section_home.active h1 {
		animation-name: heartBeat;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
}

#section_home.active h2 {
	animation-name: bounceInDown;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_home.active h4 {
	animation-name: bounceInUp;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_home.active #q1 {
	animation-name: backInLeft;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_home.active #q2 {
	animation-name: backInLeft;
	animation-duration: 1.5s;
  	animation-iteration-count: 1;
}

#section_home.active #q3 .btn {
	animation-name: pulse;
	animation-duration: 1s;
  animation-iteration-count: infinite;
}

#section_aboutme.active h1 {
	animation-name: heartBeat;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
}

#section_aboutme.active #p1 {
	animation-name: slideInLeft;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_aboutme.active #p3 {
	animation-name: slideInLeft;
  	animation-duration: 1.5s;
  	animation-iteration-count: 1;
}

#section_aboutme.active #p2 {
	animation-name: slideInRight;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_aboutme.active #p4 {
	animation-name: slideInRight;
  	animation-duration: 1.5s;
  	animation-iteration-count: 1;
}

#section_aboutme.active #p5 {
	animation-name: zoomIn;
  	animation-duration: 1.5s;
  	animation-iteration-count: 1;

}


#section_skills.active h1 {
	animation-name: heartBeat;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
}

#section_skills.active #sk1 {
	animation-name: backInLeft;
  	animation-duration: 1.5s;
  	animation-iteration-count: 1;

}

#section_skills.active #sk2 {
	animation-name: backInDown;
  	animation-duration: 2s;
  	animation-iteration-count: 1;
}

#section_skills.active #sk3 {
	animation-name: backInRight;
  	animation-duration: 1.4s;
  	animation-iteration-count: 1;
}

#section_skills.active #sk4 {
	animation-name: slideInUp;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}


#section_skills.active #sk5 {
	animation-name: backInUp;
  	animation-duration: 1.5s;
  	animation-iteration-count: 1;
}


#section_skills.active #sk6 {
	animation-name: backInRight;
  	animation-duration: 2s;
  	animation-iteration-count: 1;
}

#section_skills.active img {
	animation-name: flip;
	animation-delay: 2.25s;
  	animation-duration: 2s;
  	animation-iteration-count: 1;
}

#section_work.active h1 {
	animation-name: heartBeat;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
 }


#section_work.active li:nth-child(odd) {
	animation-name: backInRight;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_work.active li:nth-child(even) {
	animation-name: backInLeft;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_projects.active h1 {
	animation-name: heartBeat;
  	animation-duration: 1s;
  	animation-iteration-count: 2;
}

#section_projects.active #sk1 {
	animation-name: lightSpeedInLeft;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_projects.active #sk2 {
	animation-name: jackInTheBox;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_projects.active #sk3 {
	animation-name: lightSpeedInRight;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_projects.active #sk4 {
	animation-name: lightSpeedInLeft;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_projects.active #sk5 {
	animation-name: jackInTheBox;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

#section_projects.active #sk6 {
	animation-name: lightSpeedInRight;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}



@media only screen and (max-width: 768px) {
	#portfolio_slider .carousel-item {
		background-size: 50%;
		background-position: bottom center;
	}
}